@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300;400;600;700&display=swap');
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h2,h3,
.h2,.h3{
    color: $primary;
}

.sup-title{
    font-size: 12px;
    text-transform: uppercase;
}
