.navbar-toggler {
	background: none;
	border: none;
	position: relative;
	z-index: 2;
	/* remove the blue outline when active or focused */
	/* basic styles for each icon bar */
	/* styles for when .navbar is closed */
	&:active,
	&:focus {
		outline: 0;
	}

	& .icon-bar {
		display: block;
		width: 30px;
		height: 3px;
		border-radius: 3px;
		margin: 5px 0 5px 0;
		transition: all 0.2s;
		background-color: $secondary;
		/* .navbar open top .icon-bar rotated down 45° */
		/* .navbar open middle .icon-bar invisible */
		/* .navbar open bottom .icon-bar rotated up 45° */
	}

	& .icon-bar:nth-of-type(1) {
		-webkit-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
		-webkit-transform-origin: 10% 10%;
		-o-transform-origin: 10% 10%;
		transform-origin: 10% 10%;
	}

	& .icon-bar:nth-of-type(2) {
		opacity: 0;
		filter: alpha(opacity=0);
		-webkit-transform: translateX(10px);
		-o-transform: translateX(10px);
		transform: translateX(10px);
	}

	& .icon-bar:nth-of-type(3) {
		-webkit-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
		-webkit-transform-origin: 10% 90%;
		-o-transform-origin: 10% 90%;
		transform-origin: 10% 90%;
	}

	&.collapsed .icon-bar {
		background-color: $primary;
		/* .navbar open middle .icon-bar visible */
		/* .navbar open bottom .icon-bar no rotation - straight */
	}

	&.collapsed .icon-bar:nth-of-type(1) {
		-webkit-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0);
	}

	&.collapsed .icon-bar:nth-of-type(2) {
		opacity: 1;
		filter: alpha(opacity=100);
		-webkit-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}

	&.collapsed .icon-bar:nth-of-type(3) {
		-webkit-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0);
	}
}

