.home-slider{
  background-color: $primary;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .caption-container {
    .slider-title{
      margin-bottom: 40px;
    }

    .btn{
      background-color: #FFF;
      color: $primary;
      margin-top: 15px;
      transition: all 0.2s ease-in-out !important;
      &:hover{
        background-color: $primary;
        color: #FFF;
      }
    }
    &.white{
      color: white;
      .btn{
        background-color: $primary;
        color: #FFF;

        &:hover{
          background-color: #FFF;
          color: $primary;
        }
      }
    }
    &.red{
      color: white;
    }
  }
  @include media-breakpoint-down('lg'){
    .caption-container {
      .slider-title {
        font-size: 33px;
        margin-bottom: 10px;
      }
    }
  }
  @include media-breakpoint-down('md'){
    .slider-img{
      height: 300px;
    }
    .caption-container{
      .slider-title{
        font-size: 24px;
        margin-bottom: 10px;
      }
      p{
        font-size: 14px;
      }
    }
  }
  @include media-breakpoint-down('sm') {
    .caption-container {
      padding-left: 0;
      padding-right: 0;
    }
  }

}
