.section{
	padding: 60px 0;

	&__header {
		margin-bottom: 50px;
	}
}


footer{
	.social {
		margin: 30px 0;
		a{
			width: 25px;
			font-size: 14px;
			height: 25px;
			border-radius: 6px;
			display: inline-block;
			text-align: center;
			line-height: 27px;
			color: #FFF;
			background-color: $secondary;

			&:hover{
				background-color: #FFF;
				color: #000;
			}

		}
	}

	.store {
		&__icon{
			display: inline-block;
			width: 150px;
			margin-right: 10px;
			@media screen and (max-width: 600px){
				width: 100px;
				margin-bottom: 8px;
			}
		}

		a {
			display: inline-block;

			&:hover{
				transform: scale(1.05);
			}
		}
	}
}
