@import "config/variables";
@import "config/fonts";
@import "config/utilities";

// Libreries and plugins
@import "./autoload/bootstrap";
@import "./autoload/fontawesome";
// Swiper
@import "~swiper/swiper";
@import "~swiper/components/navigation/navigation";


@import "sections/header";


@import "component/home-slider";
@import "component/swiper";
@import "component/sections";
@import "component/hamburger";


.card-grid .card-grid-lg {
    height: 560px;
}

.card-grid-lg{
    height: 560px;
}
.card-grid-sm{
    height: calc(280px - calc(var(--bs-gutter-y) / 2));
}
body{
    background-color: red;
}


