@import "config/variables";
@import "config/fonts";
@import "config/utilities";

// Libreries and plugins
@import "./autoload/bootstrap";
@import "./autoload/fontawesome";
// Swiper
@import "~swiper/swiper";
@import "~swiper/components/navigation/navigation";


@import "sections/header";


@import "component/home-slider";
@import "component/swiper";
@import "component/sections";
@import "component/hamburger";


.card-grid .card-grid-lg {
    height: 560px;
}

.card-grid-lg{
    height: 560px;
}
.card-grid-sm{
    height: calc(280px - calc(var(--bs-gutter-y) / 2));
}
.card{
    &.card-overlay-bottom{
        overflow: hidden;
        &:before {
            content: "";
            position: absolute;
            height: 50%;
            width: 100%;
            bottom: 0;
            left: 0;
            right: 0;
            background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba($black, 1)));
            background-image: linear-gradient(180deg, transparent, rgba($black, 1));
            z-index: 1;
        }
    }
    .card-img-overlay{
        z-index: 2;
    }
}

.post-categories{
    margin: 0;
    padding: 0;
    li{
        display: inline-block;
    }
    a{
        @extend .badge;
        background-color: #d6293e;
        color: #fff;
        display: inline-block;
        &::before{
            font-family: "Font Awesome 6 Free";
            content: "\f111";
            margin-right: 5px;
            font-size: 8px;
            display: inline-block;

        }
    }
}


