.main-menu {
    position: relative;
    z-index: 2;
    overflow-y: hidden;

    .nav {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

    .nav-link {
        padding: 10px 15px;
        font-size: .875rem;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        &:hover{
            background-color: rgba(0,0,0,0.2);
        }
    }
}
.navbar-light{
    padding-bottom: 0;
    .navbar{
        &__section{
            width: 100%;
        }
        &__top{
            margin-bottom: 20px;
            .container{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
        }
        &__bottom{
            background-color: $primary;
            font-weight: bold;
            padding: 5px 0;

            .container{
                display: flex;
                flex-wrap: nowrap;
                justify-content: flex-start;
            }

            .nav-link{
                color: white;
                &:hover,
                &:focus,
                &.active {
                    color: $secondary;
                }
            }

            .search-trigger{
                $search-trigger-size : 36px;
                color: white;
                background-color: $secondary;
                width: $search-trigger-size;
                height: $search-trigger-size;
                border-radius: 50%;
                display: inline-block;
                line-height: $search-trigger-size + 2px;
                text-align: center;
                .open{ display: none}
                &.collapsed{
                    .close{ display: none; }
                    .open{ display: inline}
                }
            }
        }
        &__social-links{

            .social-link{
                $social-link-size : 28px;
                color: $primary;
                width: $social-link-size;
                height: $social-link-size;
                background-color: $white;
                border-radius: 50%;
                font-size: 14px;
                display: inline-block;
                line-height: $social-link-size + 2px;
                text-align: center;
                margin-left: 8px;
                margin-top: 4px;
                &:hover,
                &:focus{
                    background-color: $secondary;
                }
            }
        }

    }
}

.main-footer{
    .menu{
        list-style: none;

        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        > li{
            margin-right: 25px;
            display: inline-block;
            margin-bottom: 20px;
             > a{
                 font-weight: bold;
            }
            .sub-menu{
                list-style: none;
                margin: 20px 0 0;
                padding: 0;
                li{
                    margin-bottom: 8px;
                    a{
                        opacity: 0.8;
                        font-size: 14px;
                    }
                }

            }
        }
        a{
            padding: 3px 10px;
            color: #fff;
            &:hover{
                color: $secondary;
            }
        }

    }
}


.navigation.pagination{
    .nav-links{
        margin: 0 auto;
        .page-numbers{
            @extend .btn;
            @extend .btn-tertiary;
            color: #fff;
            &.current{
                background-color: transparent;
                color: $tertiary;
                cursor: default;
            }
        }

    }
}
